<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
     
      
    </head>

    <body>

        <header>
            <div class="">
                Logo v4
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <div>
                    <h1>Enter a url</h1>
                   <a href="/meaning">get meaning</a>
                </div>
                <form class="">
                    <input id="name" type="text" name="input" value="" placeholder="enter a url like https://www.nu.nl">
                    <div id="warning"></div>
                    <input id="submit-button" type="submit" name="" value="submit">
                  </form>
            </section>
   

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
